

.carousel{
    background-image: url('https://img.freepik.com/free-photo/3d-rendering-hexagonal-texture-background_23-2150796421.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.carousel-inner{
  
    align-items: center;

}

.select{
 
    padding-bottom: 30px;
    
}