.editprofile{
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2018_20/2436061/180517-weightlift-exercise-dumbell-ac-420p.jpg');
    background-size: cover;
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.editbox{

    border:1px solid black;  /*add a border around the form */
    /*padding is the distance between anpy html element and the border around it*/
    padding: 30px;
    background-color: rgb(242, 242, 247);
    width: 400px; /*width*/
    height: 85vh;
}