
.postworkout{ 
    background-image: url('https://as2.ftcdn.net/v2/jpg/01/98/63/27/1000_F_198632771_mRUE8oRjHIUE7MIYtnB4XK3s6nhqqenT.jpg');
    height: 100vh;
    height: 100vh;
    background-size: cover;
    
    display:flex;
    justify-content: center;
    align-items: center;
  
}

.postbox{

border:1px solid black;  /*add a border around the form */
/*padding is the distance between anpy html element and the border around it*/
padding: 20px;
background-color: rgb(242, 242, 247);
width: 400px; /*width*/


}

